<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:bean="http://www.springframework.org/schema/jdbc"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd 
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <security:http auto-config='false'>
        <security:intercept-url pattern="/login*" access="permitAll"/>
        <security:intercept-url pattern="/j_spring_security_check" access="permitAll"/>
        <security:intercept-url pattern="/**" access="hasRole('USER')"/>
        <security:form-login login-page="/login" default-target-url="/home" always-use-default-target="true"
        	authentication-failure-url="/login?error=true" username-parameter="j_username" password-parameter="j_password"
        	login-processing-url="/j_spring_security_check"/>
    </security:http>
    
   	<security:authentication-manager>
        <security:authentication-provider user-service-ref="loginService">
        	<security:password-encoder hash="sha"/>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>